@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(218, 223, 233);
}
.form {
  padding: 2rem;
  border-radius: 0.7rem;
  width: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  position: relative;
}
.form h2 {
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.form-field {
  margin-bottom: 0.7rem;
  position: relative;
}
.form-field label {
  display: inline-block;
}
.form-field input {
  display: block;
  margin: 0.3rem 0;
  padding: 0.7rem;
  padding-left: 3rem;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgb(218, 223, 233);
  box-shadow: inset 2px 2px 5px rgba(94, 104, 121, 0.3),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
}
.form-field input:focus {
  box-shadow: inset 1px 1px 2px rgb(234, 236, 242),
    inset -1px -1px 2px rgba(255, 255, 255, 0.7);
}
.form-field .bi-check-circle-fill,
.form-field .bi-exclamation-circle-fill {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.form-field .input-field {
  position: relative;
}
.form-field .bi-person-fill,
.form-field .bi-envelope-fill,
.form-field .bi-eye-slash-fill,
.form-field .bi-eye-fill {
  position: absolute;
  bottom: 18px;
  left: 1rem;
  color: rgb(72, 72, 72);
}
.form-field .bi-eye-slash-fill,
.form-field .bi-eye-fill {
  cursor: pointer;
}
.bi-eye-fill {
  display: none;
}
.input-field.visible .bi-eye-fill {
  display: inline-block;
  color: rgb(44, 44, 44);
}
.input-field.visible .bi-eye-slash-fill {
  display: none;
}

.form-field.success .bi-check-circle-fill {
  color: rgb(0, 155, 0);
  display: inline;
}
.form-field.error .bi-exclamation-circle-fill {
  color: rgb(231, 27, 27);
  display: inline;
}
.form-field .error-message {
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  color: rgb(231, 27, 27);
  display: none;
}
.form-field.error .error-message {
  display: inline;
}
.form .submit {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
